*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0d0d0d;
color:#fff;
overflow-x:hidden;
}

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:18px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.45);
backdrop-filter:blur(15px);
z-index:1000;
}

.logo{
font-size:28px;
font-weight:700;
color:#FFD700;
}

nav{
display:flex;
align-items:center;
gap:25px;
}

nav a{
text-decoration:none;
color:#fff;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#FFD700;
}

.btn{
padding:12px 22px;
background:#FFD700;
color:#111!important;
border-radius:30px;
font-weight:700;
}

.hero{
height:100vh;
background:url('https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=1920&auto=format&fit=crop') center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.60);
}

.hero-content{
position:relative;
z-index:2;
}

.hero h1{
font-size:65px;
margin-bottom:15px;
}

.hero p{
font-size:22px;
margin-bottom:35px;
}

.hero-btn{
display:inline-block;
padding:15px 35px;
background:#FFD700;
color:#111;
text-decoration:none;
border-radius:50px;
font-weight:700;
transition:.3s;
}

.hero-btn:hover{
transform:scale(1.08);
}

@media(max-width:768px){

.hero h1{
font-size:40px;
}

.hero p{
font-size:18px;
}

.navbar{
padding:15px 5%;
}

nav{
display:none;
}

}